
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');



.container {
  display: flex;
  height: 100vh;
  
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  
}

.right {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url("./Form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}



.header > h2 {
  
  margin: 0;
  color: #4f46a5;
}



.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.formfield {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.formfield:focus {
  border-color: #0f7ef1;
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.animation {
  
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

.lastbutton {
    font-size: 1em;
    color: #4f46a5;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 800ms;
    transition-property: color;
  }
  
  .lastbutton:focus,
  .lastbutton:hover {
    color: orange
  }
  
  .lastbutton:focus:after,
  .lastbutton:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .lastbutton:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 5px;
    background-color: #4f46a5;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }


@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}